agno
beautifulsoup4
faiss-cpu
fastapi
google-generativeai
google-genai
img2table
langchain-core
langchain-text-splitters
numpy
openpyxl
pandas
pdf2image
pdfplumber
Pillow
pydantic
pytesseract
python-multipart
requests
sentence-transformers
supabase
tqdm
uvicorn[standard]
psycopg2-binary
.
