agno
beautifulsoup4
faiss-cpu
fastapi
google-generativeai
img2table
langchain-core
langchain-text-splitters
numpy
openpyxl
pandas
pdf2image
pdfplumber
Pillow
pydantic
pytesseract
python-multipart
requests
sentence-transformers
tqdm
uvicorn[standard]
